$dracula-black: #15171b;
$dracula-dark: #1d1e26;
$dracula-light-dark: #282a36;
$dracula-secondary: #414558;
$dracula-disabled: #8a8f98;
$dracula-muted: $dracula-secondary;

$dracula-cyan: #80FFEA;
$dracula-green: #8aff80;
$dracula-orange: #ffca80;
$dracula-pink: #ff80bf;
$dracula-purple: #9580FF;
$dracula-red: #ff9580;
$dracula-yellow: #ffff80;
$dracula-white: #f8f8f2;

/*********************************
 * Bootstrap colors              *
 *********************************/

$primary: $dracula-purple;

// $secondary: $dracula-disabled;
// $success: $dracula-green;
// $danger: $dracula-red;
// $warning: $dracula-yellow;
// $info: $dracula-cyan;
// $light: $dracula-white;
// $dark: $dracula-dark;
// $pink: $dracula-pink;

@import "bootstrap";

/*********************************
 * Sizes                         *
 *********************************/

$m-3: map-get($spacers, 3);

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    line-height: 1.5;
    text-align: justify;
}

@include color-mode(dark) {
    .cit-logo-light {
        display: block !important;
    }
    .cit-logo-dark {
        display: none !important;
    }
}

@include color-mode(dark) {

    body {
        background-color: $dracula-black !important;
        color: $dracula-disabled !important;
    }

    .text-dark {
        color: white !important;
    }

    .publications strong {
        color: white !important;
    }

    .cit-logo-light {
        display: none !important;
    }
    .cit-logo-dark {
        display: block !important;
    }
}

header {
    margin-bottom: $m-3;
    background-color: $dracula-black !important;
}

main {

    p {
        margin-bottom: $m-3 !important;
    }

    ul li {
        margin-bottom: $m-3 !important;
    }

    /*********************************
     * Headings                      *
     *********************************/

    h1 {
        font-size: 2.75rem !important;
    }

    h2 {
        font-size: 2.25rem !important;
    }

    h3 {
        font-size: 1.75rem !important;
        margin-bottom: $m-3;
    }

    h4 {
        font-size: 1.25rem !important;
        padding-top: $m-3;
    }

    .list-group-item {
        background-color: transparent !important;
    }
}

.dark-mode {

    &.dropdown-toggle::after {
        color: var(--bs-body-color) !important
    }
}

.banner {

    padding-top: 1rem !important;

    @media (min-width: 575.98px) {
        padding-top: 7rem !important;
    }

    .btn {
        @media (min-width: 575.98px) {
            min-width: 150px;
        }
    }
}

.topbar {
    min-height: 100px;
}

.navbar {

    background-color: $dracula-light-dark !important;
    flex-direction: column !important;

    .navbar-brand {

        color: $dracula-disabled !important;

        img {
            @media (min-width: 575.98px) {
                width: 300px !important;
            }

            @media (max-width: 575.98px) {
                width: 200px !important;
            }
        }
    }

    .nav-link {

        color: $dracula-white !important;
        border-bottom: 1px solid $dracula-light-dark;

        i.bi {
            margin-right: 0.5rem !important;
            color: $dracula-cyan !important
        }

        &:hover,
        &.active {
            border-bottom: 1px solid $dracula-cyan;
        }
    }

    .navbar-toggler {

        border-color: #D5DCEA !important;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
}

.collapse-group {

    [data-bs-toggle="collapse"] {

        margin-left: 23px;
        cursor: pointer;

        i::before {
            margin-right: 10px !important;
            margin-left: -26px;
            transform: rotate(90deg);
            transition-duration: 0.3s;
            transition-property: transform;
        }
    }

    .collapsed i::before {
        transform: rotate(0deg);
        transition-duration: 0.3s;
    }

    .content {

        margin-left: 24px;

        ul {
            margin-left: 0px;
            padding-left: 14px;
        }
    }
}
