$primary: #ffcc00;
$foreground: #c9d1d9;
$dracula-purple: #9580FF;
$dracula-cyan: #80FFEA;
$dracula-background: #15171B;
// $dracula-current-line: #1D1E26;
$dracula-current-line: #282a36;
$dracula-muted: #8a8f98;
$dracula-disabled: #6c7393;
$dracula-white: #f8f8f2;
$dracula-green: #8aff80;
$dracula-orange: #ffca80;
$dracula-pink: #ff80bf;

html {
    background-color: $dracula-background !important;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: transparent;
    color: $dracula-white;
    line-height: 1.5;
    font-weight: 300;
    color: $foreground !important;
}

a {
    color: $dracula-purple;
    text-decoration: none;

    &:hover {
        color: $dracula-purple;
        opacity: 0.75 !important;
    }
}

p {
    text-align: justify !important;
    margin-bottom: 1rem !important;
}

ul li {
    margin-bottom: .5rem !important;
}

h5 {
    color: $dracula-white;
    margin-bottom: 1.0rem !important;
}

.banner {

    padding-top: 1rem !important;

    @media (min-width: 575.98px) {
        padding-top: 7rem !important;
    }

    .btn {
        @media (min-width: 575.98px) {
            min-width: 150px;
        }
    }
}

.lg {

    font-size: 2.75rem !important;

    @media (min-width: 575.98px) {
        font-size: 3.75rem !important;
    }
}


.topbar {
    min-height: 100px;
}

.navbar {

    background-color: $dracula-current-line !important;
    flex-direction: column !important;

    .navbar-brand {

        color: $foreground !important;

        img {
            @media (min-width: 575.98px) {
                width: 300px !important;
            }

            @media (max-width: 575.98px) {
                width: 200px !important;
            }
        }
    }

    .nav-link {

        color: $foreground !important;
        border-bottom: 1px solid $dracula-current-line;

        i.bi {
            margin-right: 0.5rem !important;
            color: $dracula-cyan !important
        }

        &:hover,
        &.active {
            border-bottom: 1px solid $dracula-cyan;
        }
    }

    .navbar-toggler {

        border-color: #D5DCEA !important;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
}

.card {

    background-color: transparent !important;
    border: 1px solid $dracula-disabled !important;

    .card-header {
        font-weight: bold;
        color: $foreground;
        background-color: $dracula-current-line;
    }

    .list-group {

        .list-group-item {

            color: $foreground !important;
            border-top: 1px solid $dracula-disabled !important;
            background-color: transparent !important;
        }
    }
}

.text-muted {
    color: $dracula-muted !important;
}

.text-primary {
    color: $dracula-purple !important;
}

.text-success {
    color: $dracula-green !important;
}

.text-info {
    color: $dracula-cyan !important;
}

.btn-primary {
    color: $dracula-background !important;
    background-color: $dracula-purple;
    border-color: transparent !important;

    &:hover,
    &:active,
    &:focus {
        color: black;
        background-color: $dracula-purple !important;
        opacity: 0.75 !important;
        border-color: transparent !important;
    }
}

.btn-success {
    color: $dracula-background !important;
    background-color: $dracula-green;
    border-color: transparent !important;

    &:hover,
    &:active,
    &:focus {
        color: black;
        background-color: $dracula-green !important;
        opacity: 0.75 !important;
        border-color: transparent !important;
    }
}

.btn-outline-primary {

    color: $dracula-purple !important;
    border-color: $dracula-purple !important;

    &:hover,
    &:active,
    &:focus {
        color: $dracula-background !important;
        background-color: $dracula-purple !important;
        border-color: $dracula-purple !important;
    }
}

.btn-outline-success {

    color: $dracula-green !important;
    border-color: $dracula-green !important;

    &:hover,
    &:active,
    &:focus {
        color: $dracula-background !important;
        background-color: $dracula-green !important;
        border-color: $dracula-green !important;
    }
}

.collapse-group {

    [data-bs-toggle="collapse"] {

        margin-left: 20px;
        cursor: pointer;

        i::before {
            margin-right: 5px !important;
            margin-left: -20px;
            transform: rotate(90deg);
            transition-duration: 0.3s;
            transition-property: transform;
        }
    }

    .collapsed i::before {
        transform: rotate(0deg);
        transition-duration: 0.3s;
    }

    .content {
        p {
            margin-left: 20px;
        }

        ul {
            margin-left: 0px;
        }
    }
}

hr{
    border-color: white !important;
}

input, select{
    color: $dracula-muted !important;
    background-color: $dracula-current-line !important;
    border-color: $dracula-current-line !important;

    &:focus{
        border-color: $dracula-muted !important;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $dracula-muted !important;
    }
}
