$dracula-black: #15171b;
$dracula-dark: #1d1e26;
$dracula-light-dark: #282a36;
$dracula-secondary: #414558;
$dracula-disabled: #8a8f98;
$dracula-muted: $dracula-secondary;

$dracula-cyan: #80ffea;
$dracula-green: #8aff80;
$dracula-orange: #ffca80;
$dracula-pink: #ff80bf;
$dracula-purple: #9281F7;
$dracula-red: #ff9580;
$dracula-yellow: #ffff80;
$dracula-white: #f8f8f2;

/*********************************
 * Bootstrap colors              *
 *********************************/

$primary: $dracula-purple;
$success: $dracula-green;
$info: $dracula-cyan;
$warning: $dracula-orange;
$dark: #15171B;

$navbar-light-active-color: $primary;
$navbar-dark-active-color: $primary;

$body-bg-dark: #1D1E25;
$body-color-dark: $dracula-disabled;

@import "bootstrap";

/*********************************
 * Sizes                         *
 *********************************/

$m-3: map-get($spacers, 3);

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    line-height: 1.5;
    text-align: justify;
    margin-top: 70px;

    main a {
        color: $primary;

        &:hover {
            color: darken($primary, 5%);
        }
    }
}

@include color-mode(dark) {

    .text-dark {
        color: white !important;
    }

    .publications .highlight {
        color: white !important;
        font-weight: bold;
    }

    .cit-logo-light {
        display: none !important;
    }

    .cit-logo-dark {
        display: block !important;
    }
}

header {
    margin-bottom: $m-3;
}

.badge.text-dark {
    color: $dark !important;
}

main {

    p {
        margin-bottom: $m-3 !important;
    }

    ul li {
        margin-bottom: $m-3 !important;
    }

    /*********************************
     * Headings                      *
     *********************************/

    h1 {
        font-size: 2.75rem !important;
    }

    h2 {
        font-size: 2.25rem !important;
    }

    h3 {
        font-size: 1.75rem !important;
        margin-bottom: $m-3;
    }

    h4 {
        font-size: 1.25rem !important;
        padding-top: $m-3;
    }

    .list-group-item {
        background-color: transparent !important;
    }
}

.collapse-group {

    [data-bs-toggle="collapse"] {

        margin-left: 23px;
        cursor: pointer;

        i::before {
            margin-right: 10px !important;
            margin-left: -26px;
            transform: rotate(90deg);
            transition-duration: 0.3s;
            transition-property: transform;
        }
    }

    .collapsed i::before {
        transform: rotate(0deg);
        transition-duration: 0.3s;
    }

    .content {

        margin-left: 24px;

        ul {
            margin-left: 0px;
            padding-left: 14px;
        }
    }
}
