html{
    background-color: #120B1C !important;
}
body{
    margin-top: 80px;
    background-color: transparent !important;
    color: #D5DCEA;
}

.navbar{

    background-color: #120B1C !important;
    border-bottom: 1px solid #1A1A1A;

    .navbar-brand{
        color: #D5DCEA !important;
    }

    .nav-link{
        color: #D5DCEA !important;

        &.active{
            color: #7928CA !important;
        }
    }
}

.text-primary{

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: linear-gradient(25deg, #7928CA, #FF0080);
}

.btn-grad-primary{
    color: white;
    border: 1px solid white;
    // background-image: linear-gradient(-30deg, #7928CA, #FF0080);

}

.leading-10{
    font-size: 3.75rem!important;
}

.opa{

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: linear-gradient(45deg, #ff5543, #a112ff);

}
